html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F5F6;
    color: #333;
}

.navbar {
    background-color: #F8E8EE;
}

.nav-link {
    color: #F2BED1;
}

.nav-link:hover {
    color: #FDCEDF;
}

h1, h2 {
    color: #F2BED1;
}

footer {
    background-color: #F8E8EE;
    color: #333;
}

a {
    color: #FDCEDF;
}

a:hover {
    color: #F2BED1;
}

.d-none {
    display: none !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #F2BED1;
}

.brand-line {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}

.brand-line:first-child {
    margin-bottom: 0;
}

.navbar-brand img {
    border-radius: 50%;
    margin-right: 10px;
}

#intro-text {
    padding: 20px;
    background-color: #F8E8EE;
    border-radius: 8px;
}

#ver-mas-btn {
    background-color: #FDCEDF;
    border: none;
    color: #333;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

#ver-mas-btn:hover {
    background-color: #F2BED1;
}

.extra-text {
    margin-top: 10px;
}
