@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar el SVG grande en pantallas pequeñas y mostrar el SVG pequeño */
.small-svg {
  display: none;
}

.large-svg {
  display: block;
}

@media (max-width: 768px) {
  .small-svg {
    display: block;
  }

  .large-svg {
    display: none;
  }
}

/* Añadir al final del archivo */
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(-45deg);
  }
  100% {
    transform: translateX(400%) rotate(-45deg);
  }
}

.animate-shine {
  animation: shine 3s infinite linear;
}