@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar el SVG grande en pantallas pequeñas y mostrar el SVG pequeño */
.small-svg {
  display: none;
}

.large-svg {
  display: block;
}

@media (max-width: 768px) {
  .small-svg {
    display: block;
  }

  .large-svg {
    display: none;
  }
}