---
import Layout from "../layouts/Layout.astro";
---

<Layout>
 <section id="faq" class="pt-16 pb-4 bg-gray-50">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-pink-500 mt-32 mb-8">Preguntas Frecuentes</h2>
    <div class="space-y-8">

      <!-- Pregunta 1 -->
      <details class="bg-white shadow-md p-6 rounded-lg">
        <summary class="font-semibold text-lg cursor-pointer text-pink-500">¿Necesito una cita para realizarme un servicio?</summary>
        <p class="mt-4 text-gray-600">SI, es fundamental realizar una reserva previa para garantizar la disponibilidad.</p>
      </details>

      <!-- Pregunta 2 -->
      <details class="bg-white shadow-md p-6 rounded-lg">
        <summary class="font-semibold text-lg cursor-pointer text-pink-500">¿Qué métodos de pago aceptan?</summary>
        <p class="mt-4 text-gray-600">Aceptamos pagos en efectivo, en monedas como USD, EURO y CUP, así como transferencias electrónicas en CUP.</p>
      </details>

      <!-- Pregunta 3 -->
      <details class="bg-white shadow-md p-6 rounded-lg">
        <summary class="font-semibold text-lg cursor-pointer text-pink-500">¿Qué pasa si llego tarde a mi cita?</summary>
        <p class="mt-4 text-gray-600">Ofrecemos un período de gracia de 20 minutos. Si llega tarde, haremos nuestro mejor esfuerzo para atenderle, pero la duración del servicio podría reducirse para no afectar a otros clientes.</p>
      </details>

      <!-- Pregunta 4 -->
      <details class="bg-white shadow-md p-6 rounded-lg">
        <summary class="font-semibold text-lg cursor-pointer text-pink-500">¿Utilizan productos libres de químicos agresivos?</summary>
        <p class="mt-4 text-gray-600">Sí, trabajamos con marcas reconocidas que garantizan productos libres de químicos dañinos para garantizar la salud de sus uñas.</p>
      </details>

      <!-- Pregunta 5 -->
      <details class="bg-white shadow-md p-6 rounded-lg">
        <summary class="font-semibold text-lg cursor-pointer text-pink-500">¿Ofrecen servicios personalizados o diseños especiales?</summary>
        <p class="mt-4 text-gray-600">¡Claro que sí! Estamos capacitados para ofrecer diseños personalizados y adaptarse a sus preferencias.</p>
      </details>
    </div>
  </div>
</section>
</Layout>