<section class="relative flex justify-center items-center">
  <div class="inset-0 flex justify-center items-center mb-0 mt-12">
      <img src="/bg-top/wall-bg.webp" alt="Decoración" class="w-screen object-cover h-80 lg:h-screen">
        <div class="absolute z-10 flex flex-col text-center p-4 md:space-y-4 md:p-6">
        <h1 class="text-5xl lg:text-8xl text-white mt-10 b-2">
        Havanera Nails
        </h1>
       <h2 class="text-2xl lg:text-4xl text-white mb-2">"Elegancia. Estilo. Perfección."
       </h2>
       <a href="https://www.instagram.com/havanera_nails_" target="_blank" rel="noopener noreferrer" class="mt-4 inline-flex items-center px-6 py-3 text-white bg-pink-500 hover:bg-pink-600 rounded-lg shadow-lg lg:text-lg text-sm font-medium transition duration-300">
       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2 ml-6 lg:ml-32">
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 2h8.5A5.75 5.75 0 0122 7.75v8.5A5.75 5.75 0 0116.25 22h-8.5A5.75 5.75 0 012 16.25v-8.5A5.75 5.75 0 017.75 2z" />
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11.37a4 4 0 11-8 0 4 4 0 018 0z" />
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.5 6.5h.01" />
    </svg>
       Síguenos en Instagram
    </a>
  </div>
 </div>
</section>