<header id="header" class="fixed left-0 top-0 w-full z-50 bg-transparent transition-all duration-300">
  <div class="container mx-auto z-10 flex flex-col text-center inset-x-0 top-0">
    <a href="/">
      <h1 class="text-3xl md:text-4xl font-bold text-pink-500 leading-tight lg:mr-0 mt-6 mb-2 mr-6">
        Havanera<br>Nails
      </h1>
    </a>

    <!-- Navegación izquierda (escritorio) -->
    <ul class="hidden lg:flex absolute top-8 left-20 text-black space-x-24 text-lg font-normal">
      <li><a href="https://wa.me/+5355118387?text=Hola,%20deseo%20solicitar%20tus%20servicios."
        target="_blank"
        rel="noopener noreferrer" class="hover:text-pink-500">Agendar</a></li>
      <li><a href="/Catalogo_section" class="hover:text-pink-500">Catálogo</a></li>
    </ul>

    <!-- Navegación derecha (escritorio) -->
    <ul class="hidden lg:flex absolute top-8 right-20 text-black space-x-24 text-lg font-normal">
      <li><a href="/Servicio_section" class="hover:text-pink-500">Servicios</a></li>
      <li><a href="#contacto" class="hover:text-pink-500">Contacto</a></li>
    </ul>

    <!-- Menú hamburguesa (móviles) -->
    <div class="absolute lg:hidden">
      <button id="menu-toggle" class="fixed focus:outline-none p-2 rounded-md ml-5 mt-8 z-50 lg:hidden">
        <!-- ícono menú al abrir -->
        <svg id="menu-icon-open" class="block w-8 h-8 text-pink-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>

        <!-- Ícono cerrar -->
        <svg id="menu-icon-close" class="hidden w-8 h-8 text-pink-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    
    <!-- Menú desplegable para móviles -->
    <div id="mobile-menu" class="hidden fixed top-0 left-0 w-full h-screen bg-cover bg-center bg-no-repeat shadow-md bg-[radial-gradient(circle,theme(colors.pink.500)_0%,theme(colors.pink.200)_60%,theme(colors.pink.50)_100%)] lg:hidden">
      <h1 class="text-3xl md:text-4xl font-bold text-pink-500 leading-tight mt-6 mb-4 mr-6">
        Havanera<br>Nails
      </h1>
      <ul class="items-center h-full space-y-6 mt-36 text-lg font-semibold text-white">
        <li class="flex-col"><a href="/" class="hover:text-pink-500 transition">Inicio</a></li>
        <li class="flex-col"><a href="/Catalogo_section" class="hover:text-pink-500 transition">Catálogo</a></li>
        <li class="flex-col"><a href="/Servicio_section" class="hover:text-pink-500 transition">Servicios</a></li>
        <li class="flex-col"><a href="/FAQ_section" class="hover:text-pink-500 transition">FAQ</a></li>
      </ul>
    </div>

    <!-- Reservar botón separado (móviles) --> 
    <div class="absolute top-10 right-5 lg:hidden">
      <a href="https://wa.me/+5355118387?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para%20mis%20uñas.%20¿Podrías%20confirmarme%20la%20disponibilidad,%20por%20favor?" target="_blank" rel="noopener noreferrer" class="text-white bg-pink-500 rounded-lg p-2 text-lg font-medium">Agendar</a>
    </div>
  </div>
</header>

<script
  src="/src/scripts/menu-toggle.ts">
</script>
<script
  src="/src/scripts/scrollHeader.ts">
</script>