<section class="relative min-h-screen bg-white flex flex-col justify-center items-center overflow-hidden">
   <!-- Fondo SVG para pantallas grandes -->
  <div class="inset-0 flex justify-center items-center pointer-events-none large-svg">
    <img src="/bg-top/bg__top.webp" alt="Decoración pomo" class="w-full h-full object-cover opacity-100 transform transition-transform duration-500 ease-in-out">
  </div>

  <!-- Fondo SVG para pantallas pequeñas -->
  <div class="inset-0 flex justify-center items-center pointer-events-none small-svg">
    <img src="/bg-top/bg-top-sm.webp" alt="Decoración pomo pequeño" class="w-full h-full object-cover bg-opacity-10 transform transition-transform duration-500 ease-in-out">
  </div>

  <!-- Sobre mi -->
    <div class="absolute z-10 flex flex-col text-center lg:left-10 m-0 left-50 top-60 space-y-2 p-4 md:space-y-4 md:p-6">
        <h2 class="text-pink-500 font-bold text-2xl">Bienvenidos a Havanera Nails</h2>
        <p class="items-start md:text-xl lg:text-2xl font-light text-black"></p>
        El lugar ideal para el cuidado y belleza de tus uñas.
        <br>
        En Miramar, La Habana.
        </p>
      <nav class="pt-3">
      <a 
        href="https://wa.me/+5355118387?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para%20mis%20uñas.%20¿Podrías%20confirmarme%20la%20disponibilidad,%20por%20favor?" 
        class="items-center justify-center bg-pink-500 text-white py-3 px-6  rounded-lg shadow-md"
        target="_blank"
        rel="noopener noreferrer"
      >
        Agendar ahora
       </a>
    </nav> 
    </div>
    
</section>