<section class="relative h-screen bg-white flex flex-col justify-center items-center overflow-hidden">
  <!-- Fondo SVG -->
  <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
    <img src="/bg-top/bg__top.png" alt="Decoración pomo" class="svg-background transform transition-transform duration-500 ease-in-out">
  </div>

  <!-- Contenido principal -->
  <div class="absolute z-10 flex flex-col text-center top-0 m-6 p-4">
    <h1 class="text-4xl md:text-4xl lg:text-4xl font-bold text-pink-500 leading-tight">
      Havanera
      <br>
      Nails
    </h1>
  </div>

  <!-- Navegación izquierda -->
  <ul class="absolute top-0 m-6 p-8 text-black left-10 lg:space-x-40 md:space-y-4 md:p-6 md:text-lg font-normal">
    <a href="#reservar" class="hover:text-pink-500">Reservar</a>
    <a href="#catalogo" class="hover:text-pink-500">Catálogo</a>
  </ul>

  <!-- Navegación derecha -->
  <ul class="absolute top-0 m-6 p-8 text-black right-10 lg:space-x-40 md:space-y-4 md:p-6 md:text-lg font-normal">
    <a href="#servicio" class="hover:text-pink-500">Servicios</a>
    <a href="#contacto" class="hover:text-pink-500">Contacto</a>
  </ul>

  <!-- Sobre mi -->
    <div class="absolute z-10 flex flex-col text-center m-6 left-10 space-y-2 p-4 md:space-y-4 md:p-6">
        <h2 class="text-pink-500 font-bold text-xl">Bienvenidos a Havanera Nails</h2>
        <p class="items-start md:text-xl lg:text-2xl font-light text-black"></p>
        Tu lugar para el cuidado y belleza de tus uñas.
        <br>
        En Miramar, La Habana.
        </p>
        <a 
        href="https://wa.me/+5355118387?text=Hola,%20deseo%20solicitar%20tus%20servicios." 
        class="flex items-center justify-center bg-pink-500 text-white px-6 py-3 rounded-lg shadow-md mt-4"
        target="_blank"
        rel="noopener noreferrer"
      >
        Reservar ahora
      </a>
</section>